
body {
    padding-top: 50px;
}

#login-page,
#todo-list {
    max-width: 600px;
    margin: 0 auto;
}

#todo-list {
    margin-top: 20px;
}

body {
    background-image: url('Simple-ToDoList-Web-Application/images/pngtree-blue-background-with-geometric-forms-image_280879.jpg');

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#login-page {
    background-color: darkgray;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 5%;
    font-weight: 700;
    padding-bottom: 2%;
}

#login-form {
    margin-left: 2%;
    width: 90%;
}

button {
    margin-bottom: 2%;
    background-color: black;
    color: white;
}

#login-error {
    display: none;
    color: red;
    font-weight: 700;
}

label {
    margin-left: 5px;
}
#logout-link{
    color: red;
    font-weight: 600;
}
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.navbar .navbar-brand{
    color: red;
    font-weight: 600;
    margin-left: 1%;
}
.navbar-nav{
    padding-right: 1%;
}
label{
    font-weight: 700;
}
